@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --color-primary: #4d41c0;
    --bg-gray: #e8e8e8;
    --text-gray: #4a4a4a;
    --white: #fff;
    --text-light-gray: #aaa;
    --star-yellow: #FFBB3A;
}

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html, body {
    background-color: var(--bg-gray);
}

header {
    background-color: #4D41C0;
    color: #fff;
}

header h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

#dsmovie-card-list {
    padding: 40px 0;
}

.dsmovie-card {
    width: 100%;
    margin-bottom: 30px;
}

.dsmovie-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.dsmovie-card-description {
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column; /* inverte o flex para coluna */
    align-items: center;
    justify-content: space-between; /* justifica verticalmente por causa da direção do flex que foi invertido */
    background-color: var(--white);
    border-radius: 0 0 8px 8px;
    height: 220px;
}

.dsmovie-card-description h3 {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.dsmovie-class-description-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsmovie-class-description-bottom h4 {
    font-size: 16px;
    font-weight: 700;
    color: var(--star-yellow);
}

.dsmovie-class-description-bottom img {
    width: 22px;
    height: 21px;
}

.dsmovie-class-description-bottom p {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-light-gray);
    margin-bottom: 10px;
}

.dsmovie-btn, .dsmovie-btn:hover {
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 0;
}

.dsmovie-form-container {
    padding: 40px 0;
    max-width: 480px;
}

.dsmovie-form-description {
    background-color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;
}

.dsmovie-form {
    width: 100%;
}

.dsmovie-form-group {
    margin-bottom: 20px;
}

.dsmovie-form-description h3 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}

.dsmovie-form-group label {
    font-size: 12px;
    color: var(--text-light-gray);
}

.dsmovie-form-btn-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
